# Pandas: grouping

In [139]:
import pandas as pd
import numpy as np

In [140]:
cars = pd.read_csv("data/vehicles.csv")

In [141]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [142]:
### your code is here

print(cars["Model"].nunique())

3608

group by the data by the Make  using count function

In [143]:
### your code us here

cars["Make"].nunique()

127

What brand has the most cars?

In [144]:
### your code us here

cars.Make.value_counts()

#Chevrolet has the most cars (3643)

#cars.groupby("Make")["Make"].count().sort_values(ascending=False)
#print(f"{cars['Make'].value_counts().index[0]} has the most cars ({cars['Make'].value_counts()[0]}).")

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [145]:
### your code us here

cars["CO2 Emission Grams/Mile"]=cars["CO2 Emission Grams/Mile"]*(1/1.60934)
cars.rename(columns={"CO2 Emission Grams/Mile":"CO2 Emission Grams/Km"}, inplace=True)

In [146]:
cars.groupby("Make")[["CO2 Emission Grams/Km"]].mean()

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [147]:
### your code us here

cars.groupby("Make")["CO2 Emission Grams/Km"].mean().sort_values(ascending=False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [148]:
#cars['Year'].describe()

cars["cars_decades"] = pd.cut(cars['Year'],bins=[1984,1991,2001,2011,2021],labels=["80´s","90´s","2000´s","2010´s"])

In [149]:
cars.groupby("cars_decades")["CO2 Emission Grams/Km"].mean().sort_values(ascending=False)

cars_decades
80´s      307.627676
90´s      304.246027
2000´s    298.074886
2010´s    258.779034
Name: CO2 Emission Grams/Km, dtype: float64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [150]:
### your code is here

cars["City Km/Liter"]=cars["City MPG"]*(1.60934/3.78541)

In [151]:
cars.groupby("cars_decades")["City Km/Liter"].mean().sort_values(ascending=False)

cars_decades
2010´s    8.488370
80´s      7.383107
2000´s    7.270487
90´s      7.210326
Name: City Km/Liter, dtype: float64

Which brands are more environment friendly?

In [152]:
### your code is here

cars.groupby("Make")["CO2 Emission Grams/Km"].mean().sort_values()

Make
Fisker                                105.011992
smart                                 153.498052
Fiat                                  189.311494
Daihatsu                              192.742404
MINI                                  194.935105
                                         ...
Laforza Automobile Inc                502.012683
Bugatti                               542.497235
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Vector                                651.919248
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [153]:
## Your Code here

cars["City Km/Liter"]=cars["City MPG"]*(1.60934/3.78541)
cars["Highway Km/Liter"]=cars["Highway MPG"]*(1.60934/3.78541)
cars.groupby("Drivetrain")[["City Km/Liter","Highway Km/Liter"]].mean().sort_values(by="Highway Km/Liter")

                            City Km/Liter  Highway Km/Liter
Drivetrain
Part-time 4-Wheel Drive          6.215696          8.115385
2-Wheel Drive                    6.642480          8.222444
4-Wheel or All-Wheel Drive       6.392049          8.347130
Rear-Wheel Drive                 6.556574          9.023946
4-Wheel Drive                    7.190861          9.668584
All-Wheel Drive                  7.785598         10.882531
Front-Wheel Drive                9.002214         12.166210
2-Wheel Drive, Front            10.628571         14.029714

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [154]:
## Your Code here

cars["Transmission"].value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

In [155]:
#cars["Has_Automatic"]=cars["Transmission"].str.startswith("A", na=False)

cars['Trans'] = list(map(lambda x: "Automatic" if (x.startswith('Auto')) else "Manual", cars['Transmission']))

In [156]:
cars.groupby("Trans")[["City Km/Liter"]].mean()

#No they consume less

           City Km/Liter
Trans
Automatic       7.278292
Manual          7.968348

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [174]:
## your code is here

cars.groupby(["Trans"]).agg({"Trans":"count","City Km/Liter":"mean"})

           Trans  City Km/Liter
Trans
Automatic  24290       7.278292
Manual     11662       7.968348

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here

In [168]:
cars.groupby(["Trans"])[["City Km/Liter"]].agg(min)

           City Km/Liter
Trans
Automatic       2.976000
Manual          2.550857